<% if current_user %>
Hello, user:<%= current_user.id %> <%= current_user.email%>
<% end %>

<div class="container w-full h-fit flex flex-wrap flex-col items-center justify-self-center">
<h1>Welcome to Our Blog</h1>
<h2>Here are some of our latest entries:</h2>

<section class="w-4/5 h-auto py-10 flex flex-wrap justify-between">
  <% @posts.each do |post| %>
    <div class="blog-post w-2/5 border border-black rounded mx-3 my-2">
      <h2><%= post.subject %></h2>
      <p><%= post.contents %></p>
      <p>Posted by :<%= extract_username_from_email(post.user.email) %></p>
    </div>
  <% end %>
  </section>
</div>


