<main class="w-4/5 md:w-2/5 flex flex-col items-center">
  <h2 class="text-xl sm:text-2xl lg:text-4xl my-4 p-1 border border-gray-100 rounded w-full">Edit Account</h2>
  <section class="w-full md:w-4/5 border border-gray-100 rounded flex flex-col items-center p-4 sm:text-base text-sm">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"flex flex-col items-center", html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field flex-col flex items-start p-1">
        <%= f.label "email:" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full border rounded p-1" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field flex-col flex items-start p-1">
        <%= f.label "New Password:" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"w-full border rounded p-1" %>
        <% if @minimum_password_length %>
        <% end %>
      </div>

      <div class="field flex-col flex items-start p-1">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full border rounded p-1" %>
      </div>

      <div class="field flex-col flex items-start p-1">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"w-full border rounded p-1" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:"w-3/5 cursor-pointer text-white bg-blue-500 hover:bg-blue-700 rounded p-1 my-4" %>
      </div>
    <% end %>
  </section>
  <div class="text-lg md:text-xl lg:text-2xl mt-4 border-b border-greay-100">Unhappy? </div><%= button_to "Cancel my account" ,registration_path(resource_name), data: {turbo_confirm: "Are you sure you want to delete your account?" }, class:"px-4 py-2 text-white bg-red-500 hover:bg-red-700  rounded my-4 sm:text-base text-sm", method: :delete  %></div>
</main>
