<main class="w-4/5 lg:w-2/5 flex flex-col items-center md:text-base text-sm">
  <h2 class="text-4xl my-4 p-1 border border-gray-100 rounded w-full">Sign up</h2>
  <section class="flex flex-col w:4/5 md:w-3/5 my-4 p-4 border border-gray-100 rounded">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field flex-col flex items-start p-1">
        <%= f.label "email:" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full border rounded p-1" %>
      </div>

      <div class="field flex-col flex items-start p-1">
        <%= f.label "password:"%>
        <%= f.password_field :password, autocomplete: "new-password", class:"w-full border rounded p-1"  %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="field flex-col flex items-start p-1">
        <%= f.label "Please confirm your password:" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full border rounded p-1" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"w-3/5 cursor-pointer text-white bg-blue-500 hover:bg-blue-700 rounded p-1 my-4" %>
      </div>
    <% end %>
</section>
<%= render "devise/shared/links"%>
</main>



