<main class="w-4/5 lg:w-2/5 flex flex-col items-center md:text-base text-sm">
 <h2 class="text-4xl my-4 p-1 border border-gray-100 rounded w-full">Log in</h2>
  <section class="flex flex-col w:4/5 md:w-3/5 my-4 p-4 border border-gray-100 rounded">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field flex flex-col items-start p-1">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full border rounded p-1" %>
    </div>

    <div class="field flex-col flex items-start p-1">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class:"w-full border rounded p-1"  %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field w-full flex flex-row justify-start items-center">
        <div class="p-1">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class:"w-3/5 cursor-pointer text-white bg-blue-500 hover:bg-blue-700 rounded p-1 my-4" %>
    </div>
  <% end %>
  </section>
  <%= render "devise/shared/links" %>
</main>
