<h1 class="my-2">Tell us what you have achieved or how you feel today:</h1>
<form class="w-2/5 border border-gray-100 rounded flex flex-col items-center p-4" method="post" action="<%= posts_path %>">
<%= form_with(model: @post, url: posts_path, method: :post) do |form| %>
    <div class="field flex flex-col w-3/5 items-start">
      <%= form.label :subject, "Topic:" %>
      <%= form.text_field :subject, id: "post_subject", name: "post[subject]", class: "w-full border rounded p-1"%>
    </div>

    <div class="field flex flex-col w-3/5 items-start">
      <%= form.label :contents, "Description:" %>
      <%= form.text_area :contents, id: "post_contents", name: "post[contents]", class: "w-full border rounded p-1" %>
    </div>

    <div class="actions w-2/5 items-start py-2">
      <%= form.submit "Submit", class:"w-full cursor-pointer text-white bg-blue-500 hover:bg-blue-700 rounded p-1"%>
    </div>
    <% end %>
    </form>
