<%= form_with(model: @post, url: posts_path , method: :post) do |form| %>
 
  <%= form.label :subject, "Topic:" %>
  <%= form.text_field :subject %>

  <%= form.label :contents, "Description:" %>
  <%= form.text_area :contents %>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
