<div class = "flex md:flex-row md:w-2/5 md:items-center md:justify-center flex-col w-4/5 justify-center items-center sm:text-base text-sm">
  <%= render "/posts/sortfilter" %>
  <%= search_form_for @q,class:"flex flex-col w-2/5 px-4" ,url: "" do |f| %>
    <div class="form-group my-4 flex flex-col items-center md:items-start">
      <%= f.label :contents_cont, "Search Posts:"%>
      <section class="flex flex-col items-center md:items-start">
        <%= f.text_field :contents_cont, :class => "form-control border border-gray-100 rounded pl-2 py-2 my-2", :placeholder => "Enter a few characters" %>
      <div>
        <%= f.submit :class => "cursor-pointer px-4 py-2 text-white bg-blue-500 hover:bg-blue-700 rounded" %>
        <%= link_to "Clear", root_path, class: "btn btn-default btn-block px-4 py-2 bg-gray-100 rounded"%> 
      </div>
      </section>
    </div>
<% end %>
</div>

<h2 class=" sm:text-md lg:text-xl my-4 p-1 border border-gray-100 rounded w-4/5 md:w-2/5">Here are some of our latest entries:</h2>
<section class="w-4/5 h-auto py-10 flex flex-wrap justify-center lg:justify-between sm:text-base text-sm">
<% @posts.each do |post| %>
  <div class="blog-post w-4/5 lg:w-2/5 border border-gray-100 rounded flex flex-col items-center p-4 my-4">
    <div class="field flex flex-col w-4/5 md:w-3/5 items-start">
      <h2 class="p-1 border-b border-gray-100">Title:</h2>
      <p class="w-full border rounded p-1">
        <%= post.subject %>
      </p>
    </div>

    <div class="field flex flex-col w-4/5 md:w-3/5 items-start">
      <h2 class="p-1 border-b border-gray-100">Contents:</h2>
      <p class="w-full border rounded p-1">
        <%= post.contents %>
      </p>
    </div>

    <div class="field w-full px-4 flex flex-col items-center justify-center md:flex-row md:items-between md:justify-center">
       <div class="field flex-col items-center justify-center sm:flex-row sm:items-between sm:justify-center w-3/5">
        <h2 class="p-1 ">Posted by:</h2>
        <%= extract_username_from_email(post.user.email) %>
      </div>
      <div class="flex flex-col items-center justify-between md:flex-row md:w-4/5 md:items-between md:justify-center">
      <%= button_to upvote_post_path(post), method: :post, class: 'upvote-button my-2 p-1 flex w-full h-full flex-row items-center justify-end' do %>
        <%= image_tag "clapping.png", class: "md:w-12 md:h-12 w-8 h-8" %>
        <p class="mt-1"><%= post.upvote_count %></p>
      <% end %>      
      </div>
    </div>
  </div>
<% end %>