
<section class="w-4/5 h-auto py-10 flex flex-wrap justify-between">
<% @posts.each do |post| %>
  <div class="blog-post w-2/5 border border-black rounded mx-3 my-2 flex flex-col items-center">
    <h2><%= post.subject %></h2>
    <p><%= post.contents %></p>
    <p>Posted by: <%= extract_username_from_email(post.user.email) %></p>
    <div class="flex w-full justify-center">
      <%= button_to 'Upvote', upvote_post_path(post), method: :post, class: 'upvote-button' %>
      <p><%= post.upvote_count %></p>
    </div>
  </div>
<% end %>
</section>
