<nav class="bg-gray-100">
  <div class="container mx-auto">
    <div class="flex justify-between items-center px-4 sm:px-0">
      <a class="w-2/5 my-2" href="/"><%= image_tag "well-giving-logo.png", class:"w-2/5"%></a>
      <ul class="flex space-x-4 items-center">
        <% if current_user %>
        <li>
          <% if controller_name == 'users' && action_name == 'my_account' %>
            <%= link_to "Edit Account", edit_user_registration_path, class: "px-4 py-2 text-white bg-blue-500 hover:bg-blue-700 rounded" %>
          <% else %>
            <%= link_to "My Account", my_account_path, class: "px-4 py-2 text-white bg-blue-500 hover:bg-blue-700 rounded" %>
          <% end %>
            
          </li>
          <li>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "px-4 py-2 text-white bg-orange-500 hover:bg-orange-700  rounded" %>
          </li>
        <% else %>
        <li>
          <%= link_to "Log In", new_user_session_path, class: "px-4 py-2 text-white bg-blue-500 hover:bg-blue-700 rounded" %>
        </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, class: "px-4 py-2 text-white bg-orange-500 hover:bg-orange-700  rounded" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
